
.card-size{
    width: 28rem;
    height:30rem
}

.img-height{
    height: 50%;
}

.details-btn{
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: #172CE3;
    color: white;
}